// Font Variables
$lato-font: 'Lato', sans-serif;

// Bootstrap Style Overrides
$brand-primary:         darken(#2d91d7, 6.5%) !default; // #337ab7
$brand-success:         #7ea436 !default;
$brand-info:            #3392d4 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #be195b !default;
$navbar-height:         60px !default;
